pipeline/incrementalload_spotify.json
{
	"name": "incrementalload_spotify",
	"properties": {
		"activities": [
			{
				"name": "Copy data from sqldb data lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_cdc_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "curr_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.schema_nm}.@{pipeline().parameters.table_nm} where @{pipeline().parameters.cdc_col}>\n'activity('last_cdc_date').output.value[0].cdc'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "spotifydb_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataLoadtoLake",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@pipeline().parameters.table_nm",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table_nm,'_',variables('curr_date'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "last_cdc_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "cdc_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": {
								"value": "@pipeline().parameters.table_nm",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "curr_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curr_date",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"table_nm": {
				"type": "string"
			},
			"schema_nm": {
				"type": "string"
			},
			"cdc_col": {
				"type": "string"
			}
		},
		"variables": {
			"curr_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}